<svg width="9px" height="16px" viewBox="0 0 9 16" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="6_Dashboard-Santander-Account---Desktop-v1" transform="translate(-631.000000, -1858.000000)" fill="#BA2F7D" stroke="#BA2F7D">
      <g id="Transactions" transform="translate(117.000000, 1760.000000)">
        <g id="Table" transform="translate(0.000000, 79.000000)">
          <g id="Row" transform="translate(0.130000, 0.000000)">
            <path d="M515.811853,27.0000883 L522.268688,20.684807 C522.428726,20.5282774 522.428726,20.2739131 522.268688,20.1173935 C522.10865,19.9608739 521.849383,19.9608638 521.689355,20.1173935 L514.943683,26.7173833 C514.866865,26.7925175 514.823654,26.8942612 514.823654,27.0007094 C514.823654,27.1071575 514.866865,27.2089013 514.943683,27.2848169 L521.689355,33.8826028 C521.849393,34.0391324 522.10866,34.0391324 522.268688,33.8826028 C522.428716,33.7260732 522.428726,33.4717088 522.268688,33.3151892 L515.811853,27.0000883 Z" id="Page-1" transform="translate(518.606185, 27.000000) scale(-1, 1) translate(-518.606185, -27.000000) "></path>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
