<header class="header relative">
  <div class="container flex align-items-center">
    <app-experian-logo-svg
      class="inline-flex header__experian-logo cursor-pointer"
      [routerLink]="['/applications']">
    </app-experian-logo-svg>
    <h1 class="flex-grow">Underwriter <strong>Portal</strong></h1>
    <div class="right-align" *ngIf="partnerLogo">
      <i class="header__partner-logo-label italic block">Powering</i>
      <img [src]="partnerLogo" class="header__partner-logo-img inline-flex" />
    </div>
  </div>
</header>
