@import '../../../../styles/colors';

.header {
  padding: 2.0rem 0;
  box-shadow: 0 0.2rem 0.6rem 0 rgba(138, 138, 138, 0.5);
  border-bottom: solid 0.1rem $silver;
}
.header__experian-logo {
  margin-right: 3.5rem;
}
.header__partner-logo-label {
  color: $dove-gray;
  font-size: 1.2rem;
}
.header__partner-logo-img {
  height: 3.0rem;
}
