@import '../../../styles/colors';

.single-account-transactions__month-dropdown {
  border: none;
  color: $bay-of-many;
  font-size: 1.2rem;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0.5rem;
}
.single-account-transactions__metric {
  max-width: 25.0rem;
}
