<div class="single-account-transactions m-t-60 relative">
  <h3 class="center-align">Transactions</h3>

  <mat-spinner *ngIf="loading" class="m-t-40 auto-margin"></mat-spinner>

  <select *ngIf="!loading && transactions"
    class="single-account-transactions__month-dropdown cursor-pointer"
    (change)="filterTransactions($event.target.value)">
    <option *ngFor="let period of periodList">
      {{ period }}
    </option>
  </select>

  <div *ngIf="!loading && transactions" class="p-t-30">
    <p
      *ngIf="!transactions.length"
      class="center-align">
      There were no transactions in {{ selectedPeriod }}
    </p>

    <table *ngIf="transactions.length" class="table table__alt-rows">
      <thead>
        <tr class="table__header-row table__row-border">
          <th class="left-align table__data-cell--header p-l-15">Date</th>
          <th class="left-align table__data-cell--header">Payer/Payee</th>
          <th class="left-align table__data-cell--header">Category detail</th>
          <th class="left-align table__data-cell--header">FCA Category</th>
          <th class="right-align table__data-cell--header">Balance</th>
          <th class="right-align table__data-cell--header p-r-15">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions | orderBy:'date':'desc'" class="table__data-row table__row-border">
          <td class="left-align table__data-cell p-l-15">{{ transaction.dateFormatted }}</td>
          <td class="left-align table__data-cell ellipsis p-r-15 single-account-transactions__metric">
            <span matTooltip="{{ transaction.metric }}"
              [attr.aria-label]="transaction.metric">
              {{ transaction.metric }}
            </span>
          </td>
          <td class="left-align table__data-cell">
            <a *ngIf="transaction?.categorisation.length"
              [routerLink]="['../../all-accounts-transactions', transaction.categorisation]">
              <div class="flex align-items-center no-line-height">
                {{ transaction.categorisation }}
                <app-pink-right-arrow-svg class="m-l-10"></app-pink-right-arrow-svg>
              </div>
            </a>
          </td>
          <td class="left-align table__data-cell">
            <a *ngIf="transaction?.fcaCategory.length"
              [routerLink]="['../../all-accounts-transactions', transaction.fcaCategory]">
              <div class="flex align-items-center no-line-height">
                {{ transaction.fcaCategory }}
                <app-pink-right-arrow-svg class="m-l-10"></app-pink-right-arrow-svg>
              </div>
            </a>
          </td>
          <td class="right-align table__data-cell">{{ transaction.balance }}</td>
          <td class="right-align table__data-cell table__data-cell--highlight-color p-r-15">
            {{ transaction.amount }}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="6" class="table__data-cell right-align">{{ roundedFiguresMsg }}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>

<!-- error handling -->
<p *ngIf="!loading && error" class="center-align bold error-color m-t-20">
  {{ error }}
</p>
