<mat-spinner *ngIf="loading" class="m-t-40 m-b-40 auto-margin"></mat-spinner>

<div *ngIf="!loading && incomeSummaries && !error">
  <h3 class="center-align">Income</h3>

  <table class="table m-t-30 m-b-60">
    <thead app-finance-table-header [months]="incomeSummaries[0]?.data"></thead>
    <tbody>
      <tr *ngFor="let summary of incomeSummaries | orderBy:'order':'asc'" class="table__row-border">
        <td colspan="14">
          <table class="table table__alt-columns">
            <!-- summary row -->
            <tr
              app-finance-table-record
              [data]="summary"
              (click)="showSummaryDetails('incomeSummaries', summary.order, summary.isIncome)"
              [partyId]="partyId"
              class="table__data-row">
            </tr>
            <!-- details rows -->
            <ng-container *ngFor="let details of summary.subTransactionsCategorySummaries">
              <tr
                *ngIf="summary.showDetails"
                app-finance-table-record
                [data]="details"
                [isSummaryDetails]="true"
                [partyId]="partyId"
                class="table__data-row">
              </tr>
            </ng-container>
          </table>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="14" class="table__data-cell right-align">{{ roundedFiguresMsg }}</td>
      </tr>
    </tfoot>
  </table>

  <div *ngIf="!loading && error" class="center-align bold error-color m-t-20 m-b-20">
    {{ error }}
  </div>
</div>

<div *ngIf="!loading && expenditureSummaries && expenditureSummaries.length && !error">
  <h3 class="center-align">Expenditure</h3>

  <table class="table m-t-30">
    <thead app-finance-table-header [months]="expenditureSummaries[0]?.data"></thead>
    <tbody>
      <tr *ngFor="let expenditure of expenditureSummaries | orderBy:'order':'asc'" class="table__row-border">
        <td colspan="14">
          <table class="table table__alt-columns">
            <!-- summary row -->
            <tr
              app-finance-table-record
              [data]="expenditure"
              (click)="showSummaryDetails('expenditureSummaries', expenditure.order, expenditure.isIncome)"
              [partyId]="partyId"
              class="table__data-row">
            </tr>
            <!-- details rows -->
            <ng-container *ngFor="let details of expenditure.subTransactionsCategorySummaries">
              <tr
                *ngIf="expenditure.showDetails"
                app-finance-table-record
                [data]="details"
                [isSummaryDetails]="true"
                [partyId]="partyId"
                class="table__data-row">
              </tr>
            </ng-container>
          </table>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="14" class="table__data-cell right-align">{{ roundedFiguresMsg }}</td>
      </tr>
    </tfoot>
  </table>

  <div *ngIf="!loading && error" class="center-align bold error-color m-t-20 m-b-20">
    {{ error }}
  </div>
</div>
