<div class="applications full-width-bg">
  <div class="container">
    <app-logout-btn class="p-t-20 justify-flex-end flex"></app-logout-btn>

    <h2 class="center-align">Applications</h2>

    <app-applications-search class="center-align"></app-applications-search>

    <mat-spinner *ngIf="loading" class="auto-margin"></mat-spinner>

    <app-applications-list
      *ngIf="!loading && applications"
      [applications]="applications">
    </app-applications-list>

    <!-- error handling -->
    <p *ngIf="!loading && error" class="center-align bold error-color p-b-20">
      {{ error }}
    </p>
  </div>
</div>
