@import '../../../styles/mixins';

.application-details {
  @include application-details-row();
}

.application-details__label {
  @include application-details-header();
}

.application-details__cell {
  @include application-details-cell();
}
