<mat-spinner *ngIf="loading" class="m-b-40 auto-margin"></mat-spinner>

<div *ngIf="!loading && application" class="application-details flex align-items-stretch">
  <div class="flex flex-direction-column justify-start p-l-20 p-r-20 width-percent-18">
    <div class="application-details__label">{{ labels[0] }}</div>
    <span class="ellipsis">{{ application[columns[0]] }}</span>
  </div>
  <div class="flex flex-direction-column justify-start application-details__cell p-l-20 p-r-20 width-percent-12">
    <div class="application-details__label">{{ labels[1] }}</div>
    <span class="ellipsis">{{ application[columns[1]] | date: 'dd/MM/yyyy' }}</span>
  </div>
  <div class="flex flex-direction-column justify-start application-details__cell p-l-20 p-r-20 width-percent-12">
    <div class="application-details__label">{{ labels[2] }}</div>
    <span class="ellipsis">{{ application[columns[2]] }}</span>
  </div>
  <div class="flex flex-direction-column justify-start application-details__cell p-l-20 p-r-20 width-percent-12">
    <div class="application-details__label">{{ labels[3] }}</div>
    <span class="ellipsis">{{ application[columns[3]] | date: 'dd/MM/yyyy' }}</span>
  </div>
  <div class="flex flex-direction-column justify-start application-details__cell p-l-20 p-r-20 width-percent-20">
    <div class="application-details__label">{{ labels[4] }}</div>
    <span class="ellipsis">{{ application[columns[4]] }}</span>
  </div>
  <div class="flex flex-direction-column justify-start application-details__cell p-l-20 p-r-20 width-percent-26">
    <div class="application-details__label">{{ labels[5] }}</div>
    <span class="ellipsis">{{ application[columns[5]] }}</span>
  </div>
</div>

<!-- error handling -->
<p *ngIf="!loading && error" class="center-align bold error-color p-b-20">
  {{ error }}
</p>
