@import '../../../styles/colors';

.all-accounts-transactions /deep/ .mat-button-wrapper {
  color: $cardinal-pink;
  font-size: 2.5rem;
}
.all-accounts-transactions__date-picker-label {
  font-size: 1.2rem;
}
.all-accounts-transactions /deep/ .mat-form-field-infix {
  width: 8.5rem;
  padding-top: 0;
}
.all-account-transactions__slim-column {
  max-width: 12.0rem;
}
