<div class="all-accounts-transactions">
  <app-breadcrumb-link
    [label]="'Back to Accounts provided'"
    [location]="'../../list'">
  </app-breadcrumb-link>

  <mat-spinner *ngIf="loading" class="m-b-40 auto-margin"></mat-spinner>

  <div class="m-t-20 m-b-20" *ngIf="!loading && transactions">
    <div class="flex justify-space-between align-items-center">
      <h3 *ngIf="subCategory">{{ subCategory }}</h3>

      <div class="all-accounts-transactions__date-picker flex align-items-baseline">
        <div>
          <!--From-->
          <span class="all-accounts-transactions__date-picker-label m-r-10">From</span>
          <mat-form-field>
            <input
              matInput
              #fromInput
              [matDatepicker]="datePickerTo"
              (dateInput)="setFromDate($event.value)"
              [min]="minDate"
              [max]="startDate">
            <mat-datepicker-toggle matSuffix [for]="datePickerTo"></mat-datepicker-toggle>
            <mat-datepicker #datePickerTo
              [startAt]="startDate">
            </mat-datepicker>
          </mat-form-field>
        </div>

        <div class="m-l-25">
          <!--To-->
          <span class="all-accounts-transactions__date-picker-label m-r-10">To</span>
          <mat-form-field>
            <input
              matInput
              #toInput
              [matDatepicker]="datePickerFrom"
              (dateInput)="setToDate($event.value)"
              [max]="startDate">
            <mat-datepicker-toggle matSuffix [for]="datePickerFrom"></mat-datepicker-toggle>
            <mat-datepicker #datePickerFrom
              [startAt]="startDate">
            </mat-datepicker>
          </mat-form-field>
        </div>

        <button class="btn btn-secondary m-l-20" (click)="clearDateRange()">Clear</button>
      </div>
    </div>

    <p
      *ngIf="!transactions.length"
      class="center-align">
      There were no transactions
    </p>

    <table *ngIf="transactions.length" class="table table__alt-rows m-t-20">
      <thead>
        <tr class="table__header-row table__row-border">
          <th
            *ngFor="let item of allAccountsTransactionsMap; let first = first; let last = last"
            class="left-align table__data-cell--header"
            [class.p-l-15]="first"
            [class.p-r-15]="last"
            [class.right-align]="last">
            {{ item['title'] }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of transactions | orderBy:['accountNumber', 'date']: ['desc', 'desc']"
          class="table__data-row table__row-border">
          <td class="left-align table__data-cell p-l-15">{{ transaction.dateFormatted }}</td>
          <td class="left-align table__data-cell ellipsis all-account-transactions__slim-column p-r-15">
            <span matTooltip="{{ transaction.metric }}"
              [attr.aria-label]="transaction.metric">
              {{ transaction.metric }}
            </span>
          </td>
          <td class="left-align table__data-cell ellipsis all-account-transactions__slim-column p-r-15">
            <span matTooltip="{{ transaction.categorisation }}"
              [attr.aria-label]="transaction.categorisation">
              {{ transaction.metric }}
            </span>
          </td>
          <td class="left-align table__data-cell">{{ transaction.fcaCategory }}</td>
          <td class="left-align table__data-cell">
            <a *ngIf="transaction.accountName?.length"
              [routerLink]="['../../single-account-transactions', transaction.ownedItemId]">
              <div class="flex align-items-center no-line-height">
                {{ transaction.accountName }}
                <app-pink-right-arrow-svg class="m-l-10"></app-pink-right-arrow-svg>
              </div>
            </a>
          </td>
          <td class="left-align table__data-cell">
            {{ transaction.categorisationCode }}
          </td>
          <td class="left-align table__data-cell">
            {{ transaction.accountNumber }}
          </td>
          <td class="left-align table__data-cell">
            {{ transaction.sortCode }}
          </td>
          <td class="right-align table__data-cell table__data-cell--highlight-color">
            {{ transaction.balance}}
          </td>
          <td class="right-align table__data-cell table__data-cell--highlight-color p-r-15">
            {{ transaction.amount}}
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="10" class="table__data-cell right-align">{{ roundedFiguresMsg }}</td>
        </tr>
      </tfoot>
    </table>
  </div>

  <!-- error handling -->
  <div *ngIf="!loading && error" class="center-align bold error-color m-t-20 m-b-20">
    {{ error }}
  </div>
</div>
