<mat-spinner *ngIf="loading" class="m-b-40 auto-margin"></mat-spinner>

<div *ngIf="!loading && account" class="accounts-overview">
  <!-- header row -->
  <div class="flex">
    <div class="accounts-overview__label p-l-20 p-r-20 width-percent-22">{{ labels[0] }}</div>
    <div class="accounts-overview__label p-l-20 p-r-20 width-percent-20">{{ labels[1] }}</div>
    <div class="accounts-overview__label p-l-20 p-r-20 width-percent-14">{{ labels[2] }}</div>
    <div class="accounts-overview__label p-l-20 p-r-20 width-percent-16">{{ labels[3] }}</div>
    <div class="accounts-overview__label p-l-20 p-r-20 width-percent-14">{{ labels[4] }}</div>
    <div class="accounts-overview__label p-l-20 p-r-20 width-percent-14">{{ labels[5] }}</div>
  </div>

  <!-- account row -->
  <div class="flex" class="flex accounts-overview__row">
    <div class="flex align-self-start justify-start p-l-20 p-r-20 width-percent-22">
      <img class="accounts-overview__img" [src]="account[columns[0]]" />
    </div>
    <div class="flex align-items-center justify-start accounts-overview__cell p-l-20 p-r-20 width-percent-20">
      <span class="ellipsis">{{ account[columns[1]] }}</span>
    </div>
    <div class="flex align-items-center justify-start accounts-overview__cell p-l-20 p-r-20 width-percent-14">
      <span class="ellipsis">{{ account[columns[2]] }}</span>
    </div>
    <div class="flex align-items-center justify-start accounts-overview__cell p-l-20 p-r-20 width-percent-16">
      <span class="ellipsis">{{ account[columns[3]] }}</span>
    </div>
    <div class="flex align-items-center justify-space-between accounts-overview__cell p-l-20 p-r-20 width-percent-14">
      <span class="ellipsis">{{ account[columns[4]] | formattedSortCode }}</span>
    </div>
    <div class="flex flex-direction-column justify-center accounts-overview__cell p-l-20 p-r-20 width-percent-14">
      <span class="ellipsis accounts-overview__balance">
        &pound;{{ account[columns[6]] }}
      </span>
    </div>
  </div>
</div>

<!-- no user account and error handling -->
<div *ngIf="!loading" class="accounts-list center-align">
  <p *ngIf="!error && !account">This user has no account connected.</p>
  <p *ngIf="error" class="bold error-color">{{ error }}</p>
</div>
