@import '../../../../styles/colors';
@import '../../../../styles/mixins';

.accounts-overview__row {
  @include application-details-row();
}

.accounts-overview__label {
  @include application-details-header();
}

.accounts-overview__cell {
  @include application-details-cell();
}

.accounts-overview__img {
  max-height: 5.0rem;
  align-self: start;
}

.accounts-overview__balance {
  color: $cardinal-pink;
  font-weight: 400;
}
