@import '../../../styles/mixins';

.accounts-list__row {
  @include application-details-row();
}

.accounts-list__label {
  @include application-details-header();
}

.accounts-list__cell {
  @include application-details-cell();
}

.accounts-list__img {
  max-height: 5.0rem;
  align-self: start;
}
