<h3 class="center-align m-b-30">Accounts provided</h3>

<mat-spinner *ngIf="loading" class="m-b-40 auto-margin"></mat-spinner>

<div *ngIf="!loading && accounts" class="accounts-list">
  <!-- header row -->
  <div class="flex">
    <div class="accounts-list__label p-l-20 p-r-20 width-percent-22">{{ labels[0] }}</div>
    <div class="accounts-list__label p-l-20 p-r-20 width-percent-20">{{ labels[1] }}</div>
    <div class="accounts-list__label p-l-20 p-r-20 width-percent-14">{{ labels[2] }}</div>
    <div class="accounts-list__label p-l-20 p-r-20 width-percent-16">{{ labels[3] }}</div>
    <div class="accounts-list__label p-l-20 p-r-20 width-percent-28">{{ labels[4] }}</div>
  </div>

  <!-- account rows -->
  <div *ngFor="let account of accounts" class="flex accounts-list__row">
    <div class="flex align-self-start justify-start p-l-20 p-r-20 width-percent-22">
      <img class="accounts-list__img" [src]="account[columns[0]]" [alt]="account.providerName" />
    </div>
    <div class="flex align-items-center justify-start accounts-list__cell p-l-20 p-r-20 width-percent-20">
      <span class="ellipsis">{{ account[columns[1]] }}</span>
    </div>
    <div class="flex align-items-center justify-start accounts-list__cell p-l-20 p-r-20 width-percent-14">
      <span class="ellipsis">{{ account[columns[2]] }}</span>
    </div>
    <div class="flex align-items-center justify-start accounts-list__cell p-l-20 p-r-20 width-percent-16">
      <span class="ellipsis">{{ account[columns[3]] }}</span>
    </div>
    <div class="flex align-items-center justify-space-between accounts-list__cell p-l-20 p-r-20 width-percent-28">
      <span class="ellipsis">{{ account[columns[4]] | formattedSortCode }}</span>
      <button
        class="btn btn-primary m-l-20"
        [routerLink]="['../single-account-transactions', account.ownedItemId]">
        View
      </button>
    </div>
  </div>
</div>

<!-- no user accounts and error handling -->
<div *ngIf="!loading" class="accounts-list center-align">
  <p *ngIf="!error && !accounts">This user has no accounts connected.</p>
  <p *ngIf="error" class="bold error-color">{{ error }}</p>
</div>
