<svg width="18px" height="10px" viewBox="0 0 18 10" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="4_Dashboard-Affordability-Summary---Desktop-Open-v2" transform="translate(-253.000000, -997.000000)" fill="#BA2F7D" stroke="#BA2F7D">
      <g id="Income" transform="translate(118.000000, 924.000000)">
        <g id="Table" transform="translate(0.000000, 28.000000)">
          <g id="Regular" transform="translate(15.130125, 43.000000)">
            <path d="M125.811728,7.00010089 L132.268563,-0.217363374 C132.428601,-0.396254363 132.428601,-0.686956512 132.268563,-0.865836052 C132.108525,-1.04471559 131.849258,-1.04472704 131.68923,-0.865836052 L124.943559,6.67700946 C124.86674,6.76287713 124.823529,6.8791557 124.823529,7.00081073 C124.823529,7.12246577 124.86674,7.23874434 124.943559,7.32550503 L131.68923,14.8658318 C131.849268,15.0447227 132.108535,15.0447227 132.268563,14.8658318 C132.428591,14.6869408 132.428601,14.3962386 132.268563,14.2173591 L125.811728,7.00010089 Z" id="Page-1" transform="translate(128.606061, 7.000000) scale(1, -1) rotate(270.000000) translate(-128.606061, -7.000000) "></path>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
