@import 'colors';

.btn {
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.btn-primary {
  background-color: $bay-of-many;
  color: $white;
  padding: 0.9rem 3.0rem;
}

.btn-secondary {
  background-color: $white;
  border: solid 0.1rem $bay-of-many;
  color: $bay-of-many;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 0.8rem 1.5rem;
}
