// http://chir.ag/projects/name-that-color/#26478d
$bay-of-many: #26478d;
$pigeon-post: #b3bed7;

// greys
$tundora: #4a4a4a;
$dove-gray: #6b6b6b;
$dusty-gray: #9b9b9b;
$mercury: #e9e9e9;
$silver: #ccc;
$wild-sand: #f5f5f5;
$alto: #dad7d7;
$white: #fff;

$cardinal-pink: #94077d;
$alizarin-crimson: #e31b23;
