@import '../styles/colors';

*,
*:after,
*:before {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.underwriter {
  min-height: 100vh;
}

.full-width-bg {
  background-color: $wild-sand;
}

.container {
  width: 106rem;
  margin: 0 auto;
}
