@import 'colors';

@mixin clearfix() {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin ellipsis() {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin h1() {
  font-size: 2.8rem;
}

@mixin h2() {
  font-size: 2.8rem;
  margin-bottom: 4.0rem;
}


@mixin h3() {
  font-size: 2.0rem;
}

@mixin application-details-header() {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  color: $tundora;
}

@mixin application-details-row() {
  background-color: $white;
  box-shadow: 0 0 0.8rem 0 $alto;
  padding: 1.5rem 0;
  margin-bottom: 3.0rem;
}

@mixin application-details-cell() {
  border-left: solid 0.2rem $alto;
  font-size: 1.6rem;
}

@mixin bottom-pink-arrow($arrowSize, $parentElementBorderSize) {
  display: none;
  width: 0;
  height: 0;
  border-left: $arrowSize solid transparent;
  border-right: $arrowSize solid transparent;
  border-top: $arrowSize solid $cardinal-pink;
  position: absolute;
  bottom: calc(-#{$arrowSize} - #{$parentElementBorderSize});
  left: 0;
  right: 0;
  margin: auto;
}
