@import 'colors';

.table {
  width: 100%;
  font-size: 1.2rem;
  font-weight: 400;
}
.table__data-cell {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.table__alt-rows .table__data-row:nth-child(odd) {
  background-color: $wild-sand;
}
.table__alt-columns .table__data-cell:nth-child(even) {
  background-color: $wild-sand;
}
.table__data-cell--header {
  padding-top: 0;
  padding-bottom: 1.0rem;
}
.table__data-cell--type {
  text-align: left;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.table__row-border {
  border-bottom: solid 0.1rem $silver;
}
.table__header-row {
  color: $tundora;
}
.table__data-cell--details {
  padding-top: 0;
}
.table .table__data-cell.table__data-cell--highlight-bg {
  background-color: $mercury;
}
.table__data-cell--highlight-color {
  color: $cardinal-pink;
}
