<mat-table [dataSource]="dataSource" class="applications-list m-b-40">
  <!-- name -->
  <ng-container cdkColumnDef="name">
    <mat-header-cell *cdkHeaderCellDef>{{ labels[0] }}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <span class="ellipsis">{{ row[columns[0]] }}</span>
    </mat-cell>
  </ng-container>

  <!-- createdOn -->
  <ng-container cdkColumnDef="createdOn">
    <mat-header-cell *cdkHeaderCellDef>{{ labels[1] }}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row[columns[1]] | date: 'dd/MM/yyyy' }}</mat-cell>
  </ng-container>

  <!-- postcode -->
  <ng-container cdkColumnDef="postcode">
    <mat-header-cell *cdkHeaderCellDef>{{ labels[2] }}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row[columns[2]] }}</mat-cell>
  </ng-container>

  <!-- dateOfBirth -->
  <ng-container cdkColumnDef="dateOfBirth">
    <mat-header-cell *cdkHeaderCellDef>{{ labels[3] }}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">{{ row[columns[3]] | date: 'dd/MM/yyyy' }}</mat-cell>
  </ng-container>

  <!-- email -->
  <ng-container cdkColumnDef="email">
    <mat-header-cell *cdkHeaderCellDef>{{ labels[4] }}</mat-header-cell>
    <mat-cell *cdkCellDef="let row">
      <span class="ellipsis">{{ row[columns[4]] }}</span>
    </mat-cell>
  </ng-container>

  <!-- referenceNumber -->
  <ng-container cdkColumnDef="referenceNumber">
    <mat-header-cell *cdkHeaderCellDef>{{ labels[5] }}</mat-header-cell>
    <mat-cell *cdkCellDef="let row" class="justify-space-between">
      <span class="ellipsis">{{ row[columns[5]] }}</span>
      <a class="btn btn-primary m-l-20" [routerLink]="['/application', row.partyID]">
        View
      </a>
    </mat-cell>
  </ng-container>

  <!-- Header and Row Declarations -->
  <mat-header-row *matHeaderRowDef="columns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: columns"></mat-row>
</mat-table>

<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  [pageSize]="10"
  [length]="applications.length"
  showFirstLastButtons>
</mat-paginator>
