@import '../../../styles/colors';
@import '../../../styles/mixins';

.applications-list {
  .mat-column-name {
    max-width: 18%;
  }
  .mat-column-createdOn {
    max-width: 12%;
  }
  .mat-column-postcode {
    max-width: 12%;
  }
  .mat-column-dateOfBirth {
    max-width: 12%;
  }
  .mat-column-email {
    max-width: 20%;
  }
  .mat-column-referenceNumber {
    max-width: 26%;
  }

  /deep/ &.mat-table {
    background: none;
  }

  /deep/ .mat-row {
    margin-bottom: 3.0rem;
    @include application-details-row();
  }

  /deep/ .mat-header-row {
    border: none;
  }

  /deep/ .mat-header-cell,
  /deep/ .mat-cell {
    padding: 0 1.5rem;
  }

  /deep/ .mat-header-cell {
    color: $tundora;
    font-weight: 400;
  }

  /deep/ .mat-cell {
    color: $bay-of-many;
    @include application-details-cell();

    &:first-child { border: none; }
  }
}
