<svg width="11px" height="20px" viewBox="0 0 11 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="3_Dashboard-Affordability-Summary---Desktop" transform="translate(-117.000000, -122.000000)" fill="#BA2F7D" stroke="#BA2F7D">
      <g id="Back" transform="translate(118.000000, 120.000000)">
        <g transform="translate(0.000000, 3.000000)" id="Page-1">
          <path d="M1.17564003,9.00011351 L8.85720442,0.880466204 C9.04759853,0.679213842 9.04759853,0.352173924 8.85720442,0.150934442 C8.66681032,-0.0503050404 8.35836577,-0.0503179206 8.16798386,0.150934442 L0.142796188,8.63663564 C0.0514070175,8.73323677 0,8.86405017 0,9.00091208 C0,9.13777399 0.0514070175,9.26858738 0.142796188,9.36619316 L8.16798386,17.8490607 C8.35837796,18.0503131 8.6668225,18.0503131 8.85720442,17.8490607 C9.04758634,17.6478084 9.04759853,17.3207684 8.85720442,17.119529 L1.17564003,9.00011351 Z"></path>
        </g>
      </g>
    </g>
  </g>
</svg>
