<div class="finance-graph m-b-30 auto-margin">
  <div class="relative">
    <h3 class="center-align m-b-30">All income and expenditure</h3>

    <div *ngIf="!loading && datasets">
      <div
        *ngIf="showToggle"
        class="finance-graph__toggle">
        <button [class.finance-graph__btn--active]="!isDetailedGraph"
          class="btn finance-graph__btn m-r-15 relative"
          (click)="showSimpleGraph()">
          Simple
          <span class="finance-graph__btn__arrow"></span>
        </button>
        <button [class.finance-graph__btn--active]="isDetailedGraph"
          class="btn finance-graph__btn relative"
          (click)="showDetailedGraph()">
          Detailed
          <span class="finance-graph__btn__arrow"></span>
        </button>
      </div>

      <canvas baseChart
        [datasets]="datasets"
        [labels]="labels"
        [options]="options"
        [colors]="colors"
        [chartType]="chartType"></canvas>

    </div>

    <div *ngIf="!loading && error" class="center-align bold error-color">
      {{ error }}
    </div>
  </div>
</div>
