@import '../../../../styles/colors';
@import '../../../../styles/mixins';

$finance-graph-btn-border-width: 0.2rem;

.finance-graph {
  width: 75%;
}

.finance-graph__toggle {
  position: absolute;
  top: 0.5rem;
  right: 0;
}

.finance-graph__btn {
  background: none;
  color: $tundora;
  font-size: 1.2rem;
  padding: 0.5rem;
}

.finance-graph__btn--active {
  color: $bay-of-many;
  border-bottom: solid $finance-graph-btn-border-width $cardinal-pink;

  .finance-graph__btn__arrow { display: block; }
}

.finance-graph__btn__arrow {
  @include bottom-pink-arrow(0.5rem, $finance-graph-btn-border-width);
}
