<svg width="18px" height="18px" viewBox="0 0 20 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="2_Applications" transform="translate(-1084.000000, -120.000000)" fill="#26478D">
      <g id="logout-btn" transform="translate(1069.000000, 113.000000)">
        <g id="main_icn_Logout_02" transform="translate(15.000000, 7.000000)">
          <g id="Group-2" transform="translate(7.000000, 5.500000)">
            <path d="M8.62482682,9 C8.46550291,9 8.30479357,8.93730209 8.18287614,8.81190627 C7.93904129,8.56111463 7.93904129,8.15357821 8.18287614,7.90278657 L11.4912718,4.5 L8.18287614,1.09721343 C7.93904129,0.846421786 7.93904129,0.43888537 8.18287614,0.18809373 C8.426711,-0.0626979101 8.82294264,-0.0626979101 9.0667775,0.18809373 L12.8171239,4.04544015 C13.0609587,4.29623179 13.0609587,4.70376821 12.8171239,4.95455985 L9.0667775,8.81190627 C8.94486007,8.93730209 8.78415073,9 8.62482682,9 Z" id="Path"></path>
            <path d="M11.3334975,5 L0.666502463,5 C0.298522167,5 0,4.77605322 0,4.5 C0,4.22394678 0.298522167,4 0.666502463,4 L11.3334975,4 C11.7014778,4 12,4.22394678 12,4.5 C12,4.77605322 11.7029557,5 11.3334975,5 Z" id="Path"></path>
          </g>
          <path d="M11.3334975,20 L3.33399015,20 C1.4955665,20 0,18.5045072 0,16.6661741 L0,3.33382592 C0,1.49549283 1.49408867,0 3.33399015,0 L11.3334975,0 C11.7014778,0 12,0.298507463 12,0.666469632 C12,1.0344318 11.7014778,1.33293926 11.3334975,1.33293926 L3.33399015,1.33293926 C2.23152709,1.33293926 1.33448276,2.22993941 1.33448276,3.33234816 L1.33448276,16.6646963 C1.33448276,17.7671051 2.23152709,18.6641052 3.33399015,18.6641052 L11.3334975,18.6641052 C11.7014778,18.6641052 12,18.9626127 12,19.3305748 C12,19.7014925 11.7029557,20 11.3334975,20 Z" id="Path"></path>
        </g>
      </g>
    </g>
  </g>
</svg>
