<footer class="footer">
  <div class="container">
    <app-experian-logo-svg
      class="inline-flex header__experian-logo cursor-pointer"
      [routerLink]="['/applications']">
    </app-experian-logo-svg>
  </div>
</footer>
