<tr class="table__header-row table__row-border">
  <th class="table__data-cell--header table__data-cell--type width-percent-12"></th>
  <th
    *ngFor="let item of months"
    class="table__data-cell--header width-percent-6">
    {{ item.month | date: 'MMM' }}
  </th>
  <th class="table__data-cell--header width-percent-6">Average</th>
</tr>
