<app-breadcrumb-link
  [label]="'Back to Accounts provided'"
  [location]="'../../list'">
</app-breadcrumb-link>

<h3 class="center-align m-b-30">Account overview</h3>

<app-account-overview></app-account-overview>

<app-finance-graph
  class="m-t-70 block"
  [isBankAccountSummary]="true"
  [isDetailedGraph]="true"
  [showToggle]="true">
</app-finance-graph>

<app-finance-summaries
  [ownedItemId]="ownedItemId"
  class="m-t-70 block">
</app-finance-summaries>

<app-single-account-transactions></app-single-account-transactions>
