<div class="download-as-data flex align-items-center">
  <mat-radio-group (change)="setDownloadType($event.value)">
    <mat-radio-button [checked]="true" value="{{ downloadTypes[0] }}">
      {{ downloadTypes[0] }}
    </mat-radio-button>
    <mat-radio-button class="m-l-10 m-r-10" value="{{ downloadTypes[1] }}">
      {{ downloadTypes[1] }}
    </mat-radio-button>
  </mat-radio-group>

  <button
    target="_blank"
    class="btn btn-secondary flex align-items-center"
    (click)="handleDownloadType()">
    <app-download-svg class="inline-flex m-r-10"></app-download-svg>
    <span>Download as {{ selectedDownloadType }}</span>
  </button>
</div>
