<mat-dialog-content class="download-as-pdf-dialog">
  <div *ngIf="loading">
    <h1 class="h3">We are gathering all the data to download for you, please wait....</h1>
    <div class="center-align m-t-30 overflow-hidden">
      <mat-spinner class="download-as-pdf-dialog__spinner"></mat-spinner>
    </div>
  </div>
  <div *ngIf="error">
    <h1 class="h3">Download as PDF</h1>
    <p class="bold error-color">{{ error }}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions *ngIf="error">
  <button class="btn btn-secondary" mat-dialog-close>Close</button>
</mat-dialog-actions>
