<div class="dashboard full-width-bg">
  <div class="container p-t-20 cf">
    <div class="flex align-items-center">
      <app-breadcrumb-link
        class="flex-grow"
        [label]="'Back to Applications'"
        [location]="'/applications'">
      </app-breadcrumb-link>

      <app-download-as-data-btn></app-download-as-data-btn>
      <app-logout-btn class="m-l-10"></app-logout-btn>
    </div>

    <h2 class="center-align">Dashboard</h2>

    <app-application-details></app-application-details>

    <app-affordability-and-accounts-navigator></app-affordability-and-accounts-navigator>
  </div>
</div>
<div class="container p-t-60 cf">
  <router-outlet></router-outlet>
</div>
