<td class="table__data-cell table__data-cell--type width-percent-12 cursor-pointer"
  [class.table__data-cell--details]="isSummaryDetails">
  <div *ngIf="!isSummaryDetails" class="flex justify-space-between">
    <span>{{ data.metric }}</span>

    <mat-spinner
      *ngIf="data.showDetails && !data.subTransactionsCategorySummaries.length"
      [diameter]="20">
    </mat-spinner>

    <app-down-arrow-svg
      *ngIf="data.showDetails">
    </app-down-arrow-svg>

    <app-up-arrow-svg
      *ngIf="!data.showDetails">
    </app-up-arrow-svg>
  </div>

  <a *ngIf="isSummaryDetails"
    class="block p-r-25 break-word relative"
    [routerLink]="['/application/', partyId, 'accounts', 'all-accounts-transactions', data.metric]">
    <span class="table__header-row">{{ formatSubCategory(data.metric) }}</span>
    <app-blue-right-arrow-svg class="finance-table-record__arrow"></app-blue-right-arrow-svg >
  </a>
</td>
<td
  *ngFor="let month of data.data"
  class="table__data-cell center-align width-percent-6"
  [class.table__data-cell--details]="isSummaryDetails">
  &pound;{{ month.totalAmount | number:'1.0-0' }}
</td>
<td class="table__data-cell center-align width-percent-6 table__data-cell--highlight-bg table__data-cell--highlight-color"
  [class.table__data-cell--details]="isSummaryDetails">
  &pound;{{ data.averageAmount | number:'1.0-0' }}
</td>
