@import '../../../styles/colors';
@import '../../../styles/mixins';

$affordability-and-accounts-border-width: 0.4rem;

.affordability-and-accounts-navigator__link {
  font-size: 1.8rem;
  width: 28.0rem;
  color: $tundora;
  border-bottom: solid $affordability-and-accounts-border-width $alto;
  padding-bottom: 0.5rem;
  font-weight: 400;
  position: relative;
}

.affordability-and-accounts-navigator__link--selected {
  border-color: $cardinal-pink;
  color: $bay-of-many;

  .affordability-and-accounts-navigator__arrow { display: block; }
}

.affordability-and-accounts-navigator__arrow {
  @include bottom-pink-arrow(1.0rem, $affordability-and-accounts-border-width);
}
