<div class="affordability-and-accounts-navigator flex justify-center p-t-10">
  <a class="affordability-and-accounts-navigator__link center-align"
    routerLinkActive="affordability-and-accounts-navigator__link--selected"
    [routerLink]="['affordability-summary']">
    Affordability summary
    <span class="affordability-and-accounts-navigator__arrow"></span>
  </a>

  <a class="affordability-and-accounts-navigator__link center-align"
    routerLinkActive="affordability-and-accounts-navigator__link--selected"
    [routerLink]="['accounts']">
    Accounts
    <span class="affordability-and-accounts-navigator__arrow"></span>
  </a>
</div>
