<form [formGroup]="form"
  (ngSubmit)="submitForm()">
  <mat-form-field class="applications-search" [floatLabel]="'never'">
    <input matInput
      type="text"
      placeholder="Search"
      class="applications-search__input"
      formControlName="searchQuery" />
    <button type="submit"
      class="btn applications-search__btn">
      <app-search-svg class="inline-flex"></app-search-svg>
    </button>
  </mat-form-field>
</form>
