@import '../../../styles/colors';

// component specific variables
$applications-search-height: 5.5rem;
$applications-search-border-radius: 0.4rem;
$applications-search-border-width: 0.1rem;
$applications-search-input-height: $applications-search-height - $applications-search-border-width;

.applications-search {
  width: 34.0rem;
  margin: 0 auto 4.0rem auto;
  background-color: $white;
  height: $applications-search-height;
  border-radius: $applications-search-border-radius;
  border: solid $applications-search-border-width $pigeon-post;
}
.applications-search__input {
  width: 28.0rem;
  padding-left: 1.5rem;
  height: $applications-search-input-height;
  border-radius: $applications-search-border-radius;
  font-size: 1.6rem;
}
.applications-search__btn {
  background: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 1.2rem;
  right: 1.6rem;
}

// overwrite angular material styles
.applications-search /deep/ {
  .mat-form-field-underline,
  .mat-form-field-subscript-wrapper {
    display: none;
  }
  .mat-form-field-infix {
    padding: 0;
    border: none;
  }
  .mat-form-field-autofill-control {
    margin-top: 0;
    height: $applications-search-input-height - $applications-search-border-width;
  }
  .mat-form-field-label-wrapper {
    top: -0.3rem;
    padding: 0;
    text-indent: 1.5rem;
    font-size: 1.6rem;
  }
}
