<svg width="30px" height="30px" viewBox="0 0 30 30" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="2_Applications" transform="translate(-777.000000, -216.000000)" fill="#BA2F7D" fill-rule="nonzero" stroke="#FFFFFF" stroke-width="2">
      <g id="Search" transform="translate(478.000000, 203.000000)">
        <g id="Group" transform="translate(300.000000, 14.000000)">
          <path d="M11.6137394,0 C5.22618268,0 0,5.21464825 0,11.6028949 C0,17.9911416 5.22618268,23.2178892 11.6137394,23.2178892 C14.0695617,23.2178892 16.3439189,22.4314571 18.219054,21.1247705 L24.4977318,27.3920276 C25.2961765,28.2026575 26.602722,28.2026575 27.4011667,27.3920276 C28.1996111,26.5934966 28.1996111,25.2989089 27.4011667,24.5003779 L21.1224886,18.221022 C22.441132,16.3335854 23.2153815,14.0589825 23.2153815,11.6028949 C23.2153815,5.21464825 17.9891985,1.1609815e-15 11.6137394,0 Z M11.6137394,4.08944588 C15.7753294,4.08944588 19.1142797,7.42875654 19.1142797,11.6028949 C19.1142797,15.7770337 15.7753294,19.1163443 11.6137394,19.1163443 C7.44005183,19.1163443 4.10110184,15.7770337 4.10110184,11.6028949 C4.10110184,7.42875654 7.44005183,4.08944588 11.6137394,4.08944588 Z" id="Shape-Copy-10"></path>
        </g>
      </g>
    </g>
  </g>
</svg>
