<svg width="8px" height="14px" viewBox="0 0 8 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="4_Dashboard-Affordability-Summary---Desktop-Open-v2" transform="translate(-259.000000, -1026.000000)" fill="#26478D" stroke="#26478D">
      <g id="Income" transform="translate(118.000000, 924.000000)">
        <g id="Table" transform="translate(0.000000, 28.000000)">
          <path d="M142.78376,80.8000757 L147.904803,75.3869775 C148.031732,75.2528092 148.031732,75.0347826 147.904803,74.900623 C147.777874,74.7664633 147.572244,74.7664547 147.445323,74.900623 L142.095197,80.5577571 C142.034271,80.6221578 142,80.7093668 142,80.8006081 C142,80.8918493 142.034271,80.9790583 142.095197,81.0441288 L147.445323,86.6993738 C147.572252,86.8335421 147.777882,86.8335421 147.904803,86.6993738 C148.031724,86.5652056 148.031732,86.347179 147.904803,86.2130193 L142.78376,80.8000757 Z" id="Page-1" transform="translate(145.000000, 80.800000) scale(-1, -1) translate(-145.000000, -80.800000) "></path>
        </g>
      </g>
    </g>
  </g>
</svg>
